* {
    font-family: var(--bs-body-font-family);
}

.BrandDescription {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 60vh;
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image within the div */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    transition: transform 1.5s ease, filter 0.5s ease;
    /* Smooth transition for zoom and filter */
}

#BurgerHeading {
    background-image: url("../images/burgerHeading.png");
    padding: 20px;
    margin-top: 20px;
}

#PizzaHeading {
    background-image: url("../images/pizzaMain.jpg");

}

#PizzaHeading h1,
#BurgerHeading h1,
#coffeeHeading h1,
#DesiHeading h1,
#dessertsHeading h1
{
font-size: 3.5rem;
width: 900px;
justify-content: center;
justify-items: center;
justify-self: center;
text-align: center;
font-weight: 900;
color: #000;
margin: 0 auto;
margin-top: 10%;
}

#PizzaHeading p {
    font-size: 1.25rem;
    margin: 0;
    line-height: 1.5;
}

#coffeeHeading {
    background-image: url("../images/coffeeMain.jpg");
}

#DesiHeading {
    background-image: url("../images/desiMain.jpg");
    margin-top: 10px;
}

#dessertsHeading {
    background-image: url("../images/dessertMain.jpg");
    margin-top: 10px;
}

#otherHeading {
    background-image: url("../images/otherHeading.jpeg");
    margin-top: 10px;
}
